.edge{
	border-radius: 30px;
	min-height: 75%;
}

.logo{
	width: 13%;
}

.nav-radius{
	border-radius: 10px;
}

.card-border{
	border: none;
}

.map{
	min-height: 202%;
}

.contact{
	min-height: 91%;
}

.container-contactus{
	width: 95%;
	display: flex;
	justify-content: center;
	margin-left: 2%;
	margin-right: 2%;
}

.logo-text{
	font-size: 19px;
	font-weight: 600;
}

.bg_image{

}

.carousel .carousel-item {
  height: 640px;
}

.carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 450px;
}